@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

body{
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header, .footer, .intro{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}

button{
    border: none;
    padding: 5px 32px;
    border-radius: 5px;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 10% 15px 10%;
}

.logo{
    font-size: 24px;
    color: f9faf8;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 15px;
}

/* intro banner */

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 150px 0;
}

.intro-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    margin-right: 35px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.intro-text .title{
    font-size: 48px;
    margin-bottom: 0px;
    color: #f9faf8;
    font-weight: 700;  
    padding-bottom: 5px; 
}

.intro-text .text{
    padding-bottom: 15px;
}

button{
    background-color: #3882f6;
    color:  #e5e7eb;
    font-weight: 600;
}

.placeholder{
    background-color: #777777;
    display: flex;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

/* gallery */
.gallery{
    margin: 25px 0 100px 0;
}

.gallery .title{
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 25px;
}

.gallery-image{
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border:  5px solid #3882f6;
}

.gallery-images{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.text-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.subtext{
    max-width: 150px;
}

/* quote */

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 25% 100px 25%;
    
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    
    text-align: left;
    margin-bottom: 20px;
}

.person{
    display: flex;
    font-weight: 700;
    align-self: flex-end;
}

/* call to action */

.call-to-action{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 75px 20% 75px 20%;
    color: #e5e7eb;
    padding: 40px 80px 40px 80px;
    align-items: center;
    border-radius: 10px;
}

.cta-text{
    text-align: left;
}

.time-title{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}

.subtime{
    font-weight: 100;
}

.sign-up-inverse button{
    border: 1px solid #e5e7eb;
}

/* footer */
.footer{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 15px;
}