@import url(https://fonts.google.com/specimen/Roboto#standard-styles);

body{
    font-family: "roboto", Helvetica, sans-serif;
    text-align: center;
    display: flex;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header, .footer, .intro{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 10% 15px 10%;
}

.logo{
    font-size: 24px;
}

.header-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 15px;
}

/* intro banner */

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.intro-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    margin-right: 35px;
}

.placeholder{
    background-color: #777777;
    display: flex;
    height: 200px;
    width: 400px;
    margin: 100px 0 100px 0;
}

/* gallery */
.gallery .title{
    margin-top: 25px;
}